<div class="container">
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "gooddays", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Новости" %></li>
          <li><%= link_to "Блоги" %></li>
          <% if signed_in? %>
            <li><%= link_to "Моя лента" %></li>
            <li><%= link_to "Новая идея", new_pin_path %></li>
            <li><%= link_to "Юзеры", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= gravatar_rof current_user %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a>Вы вошли как </br> <strong><%= current_user.name %></strong></a></li>
                <li class="divider"></li>
                <li><%= link_to "Профиль", current_user %></li>
                <li><%= link_to "Помощь", help_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
                <li>
                  <%= link_to "Выйти", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Зарегистрироваться", signup_path %></li>
            <li><%= link_to "Войти", signin_path %></li>
          <% end %>
        </ul>
      </nav>
      <a href="/"><%= image_tag 'logo_s2.png', :class => "logo_image" %></a>
    </div>
  </div>
</header>
</div>

